/*==================================
           		HOMEPAGE
==================================*/

.wrapper {
	width: 100%;
	height: 200px;
	overflow: auto;
	white-space: nowrap;
}

.leaderboard {
	height: 34%;
}

.forum {
	height: 64%;
}

/*==================================
           		SEARCHED
==================================*/

.full-wrapper {
	width: 100%;
	min-height: 60vh;
}

/*==================================
           	SELECTED GAME
==================================*/

.info, .tags-container {
	width: 50%;
	height: 150px;
}

#rating-input {
	width: 145px;
}

.game-delete {
	background-color: black;
	padding: 0;
	border: none;
	color: red;
	cursor: pointer;
}

.summary {
	height: 300px;
}

.comments-container {
	width: 100%;
	height: 300px;
}

.comments-list {
	overflow: scroll;
	width: 100%;
	height: 79%;
}

.comments-text, .submit-comments {
	border-radius: 0;
}

.comments-text:focus, #rating-input:focus {
	color: 	#00ff7f;
}

/*==================================
          EDIT/UPLOAD
==================================*/

.custom-file-label::after {
	color: #28a745;
  background-color: black;
  border-color: #28a745;
}

/*.pic {

	height: 500px;
	width: 500px;
	position: relative;
	left: 350px;
	margin-top: 30px;

}

.input-file {

	margin-top: 10px;
	font-size: 20px;
	position: relative;
	left: 420px;

}

.upload-form {

	width: 90%;
	margin: auto;

}

.subheader {

	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin: 20px auto;
}

.inputs {

	width: 500px;
	height: 50px;
	font-size: 30px;
	margin-left: 290px;
	border: 2px solid #db9035;
	text-align: center;
}

.summaryTextArea {

	height: 160px;
	text-align: justify;

}

.checkbox {

	display: inline-block;
	font-size: 25px;
	margin: 10px 25px;

}

.tags-holder {

	width: 500px;
	margin-left: 315px;

}

.form-button {

	border: 2px solid #db9035;
	background-color: #db9035;
	color: white;
	font-size: 40px;
	font-weight: 700;
	margin-top: 25px;
	position: relative;
	left: 470px;
	padding: 5px;

}

.align {
	margin-left: 343px;
}

.align-small {
	margin-left: 58px;
}*/

/*==================================
           	PROFILE PAGE
==================================*/

.game-list-container {
	width: 100%;
	min-height: 300px;
}

.profile-delete {
	background-color: rgb(52,58,64);
	padding: 0;
	border: none;
	color: red;
	cursor: pointer;
}

.profile-delete:hover {
	text-decoration: underline;
}

/*==================================
           		PLAY
==================================*/

embed {
	width: 100%;
	height: 900px;
}

/*==================================
           		CREATOR
==================================*/

.createCol {

	width: 40px;
	height: 30px;
	border: 1px solid grey;

}

table {

	background-color: black;
	border-spacing: 0;
	margin: auto;

}

.character {

	height: 26px;
	width: 36px;

}

.holder {

	height: 26px;
	width: 36px;
	border: 2px solid black;

}

#create-form {
	visibility: hidden;
}


.createCol-play {

	width: 55px;
	height: 45px;
	/*border: 1px solid grey;*/
	position: relative;
	border-spacing: 0;

}

.character-play {

	height: 41px;
	width: 51px;

}


.enemy-behaviour {

	position: absolute;
	top: 0;

}

.blank-container {

	background-color: red;
	width: 900px;
	height: 712px;
	margin: auto;

}
















