body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background-color: black;
  overscroll-behavior: none;
}

.body-content {
  width: 900px;
  margin: auto;
  padding: 0;
  min-height: 90vh;
}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: #00ff7f;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.05em;
}

a,
a:hover {
  color: red;
}

.neon-green {
  color: #00ff7f;
}

.border-bottom-neon {
  border-bottom: 1px solid #00ff7f;
}

.border-left-neon {
  border-left: 1px solid #00ff7f;
}

.border-all-neon {
  border: 1px solid #00ff7f;
}

.rounded-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bg-black {
  background-color: black;
}

.md-show {
  display: none;
}

.rounded-c {
  border-radius: 0.25rem;
}

@media screen and (max-width: 767px) {
  .body-content {
    width: 100%;
  }

  .mobile-nav {
    position: relative;
    top: -4px;
    width: 100%;
  }

  .rounded-c {
    border-radius: 0;
  }

  .md-hidden {
    display: none;
  }

  .md-show {
    display: initial;
  }

  .no-padding {
    padding: 0 !important;
  }

  .pad-l {
    padding-left: 10px;
  }

  .padding-l-xtra {
    padding-left: 30px;
  }

  .m-l-xtra {
    margin-left: 8px !important;
  }

  .search-input {
    width: initial;
    margin-right: 6px;
  }
}
