body {

	margin: 0;
	padding: 0;
	background-image: url(http://getwallpapers.com/wallpaper/full/6/2/b/1016388-new-minecraft-background-1920x1080-ios.jpg);

}

fieldset {

	width: 600px;
	height: 60vh;
	border: 5px solid black;
	margin: auto;
	text-align: center;
	font-size: 25px;
	background-color: white;

}

legend {

	padding: 15px;
	background-color: black;
	color: white;
	text-align: left;
	font-size: 30px;

}